<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s3AccessKey</key>
	<string>YOUR-ACCESS-KEY</string>
	<key>s3Secret</key>
	<string>YOUR-SECRET-KEY</string>
	<key>s3Bucket</key>
	<string>YOUR-BUCKET-NAME</string>
</dict>
</plist>
